:lang() {
  color: black;
}

p:lang(en) {
  quotes: '\201C' '\201D' '\2018' '\2019';
}

:lang(en) > q { quotes: '\201C' '\201D' '\2018' '\2019'; }
:lang(fr) > q { quotes: '« ' ' »'; }
:lang(de) > q { quotes: '»' '«' '\2039' '\203A'; }
