/* Selects a shadow root host, only if it is
   a descendant of the selector argument given */
:host-context(h1) {
  font-weight: bold;
}
  
:host-context(.main .article) {
  font-weight: bold;
}
  
/* Changes paragraph text color from black to white when
   a .dark-theme class is applied to the document body */
p {
  color: #000;
}
  
:host-context(body.dark-theme) p {
  color: #fff;
}
  
:host-context([dir="rtl"]) {
  float: right !important;
}
