div {
  padding: 1e6;
  padding: 1e-6;
  padding: 1e-06;
  padding: 1e+6;
  padding: 1e+06;
  padding: 999e6;
  padding: 999e-6;
  padding: 999e-06;
  padding: 999e+6;
  padding: 999e+06;
  padding: 1.5e6;
  padding: 1.5e-6;
  padding: 1.5e-06;
  padding: 1.5e+6;
  padding: 1.5e+06;
  padding: 123.5678e6;
  padding: 123.5678e-6;
  padding: 123.5678e-06;
  padding: 123.5678e+6;
  padding: 123.5678e+06;
}

span {
  padding: 1e6em;
  padding: 1e-6em;
  padding: 1e-06em;
  padding: 1e+6em;
  padding: 1e+06em;
  padding: 999e6em;
  padding: 999e-6em;
  padding: 999e-06em;
  padding: 999e+6em;
  padding: 999e+06em;
  padding: 1.5e6em;
  padding: 1.5e-6em;
  padding: 1.5e-06em;
  padding: 1.5e+6em;
  padding: 1.5e+06em;
  padding: 123.5678e6em;
  padding: 123.5678e-6em;
  padding: 123.5678e-06em;
  padding: 123.5678e+6em;
  padding: 123.5678e+06em;
}
