body {
    margin: 0;
}

table.fast th background:#eee;
/* error that should be skipped*/
padding-left:0;
font-size:14px;
font-weight:bold;
line-height:22px;
color:#c11a12;
white-space:nowrap;
}
/* end of skipped part */

.some { more: css; }
